body {
    background-color: azure;
}

h2 {
    text-align: center;
    text-decoration: wavy;
    background-color: darkcyan;
}

li {
    text-decoration: wavy;
    text-transform: uppercase;
    text-decoration-style: dotted;
    text-shadow: black;
}

p {
    transition: ease-in-out;
    text-align: center;
}