body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 254);
}

a {
    color: rgb(183, 0, 255);
    font-family: sans-serif;
    font-weight: inherit;
    align-self: flex-end;
    text-decoration: none;
    text-align: center;
}

header {
    color: brown;
    font-family: sans-serif;
    font-style: oblique;
    align-self: flex-start;
    text-align: center;
    background-color: aquamarine;
    width: 600px;
    margin-left: 300px;
}

li {
    color: red;
    font-family: sans-serif;
    margin-left: 400px;
}

a:hover {
    font-family: sans-serif;
    color: rgb(18, 199, 78);
}

img {
    margin-left: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 300px;
}

p,
section {
    font-size: 130%;
    font-family: sans-serif;
}